body{
    margin: 0;
    // overflow: hidden;
}
// #root{
//     height: calc(var(--vh, 1vh) * 100) !important;
// }
header{
    height: 45px;
    background-color: rgb(165, 132, 83);
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: larger;
    color: aliceblue;
}
main{
    // background-color: rgb(150, 82, 82);
    height: calc( 100% - 45px);
    display: flex;

    nav{
        height: 100%;
        background-color: rgb(195, 195, 118);
        width: 20%;
    }
    section{
        height: 100%;
        background-color: lightpink;
        width: 80%;
    }
}